h1{color:rgb(160,0,0); /*darker red*/
	font-family: Georgia, Serif;
	font-size:24;
	text-align:center;
	}
h2 {color:rgb(184,0,0); /*red*/
	font-family:Georgia, Serif;
	font-size:18;
	text-align:center;
	}
#intro {
	color:rgb(0,0,0);
	font-family:Georgia, Serif;
	font-size:14;
	text-align:justify;
	margin:10%;
	margin-top:0%;
	margin-bottom: 5%;
	line-height:120%;
}
#main {
	color:rgb(0,0,0);
	font-family:Georgia, Serif;
	font-weight: bold;
	font-size:14;
	text-align:justify;
	margin:10%;
	margin-top:0%;
	line-height:120%;
	text-decoration: underline;
	border: 3px solid green;
	border-radius: 10px 10px 10px 10px;
}
body {
	background-color: #FF9900;
}